.settings-icon {
  fill: $body-color;
}
.letter-tile {
  padding: 100% 0 0;
  cursor: pointer;
  svg {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0;
    width: 100%;
    fill: $body-color;
  }

  transition: background ease-in 0.1s;
  &:hover {
    background: rgba(255,255,255, 0.1);
  }
  &.letter-tile-selected {
    background: rgba(0, 255, 255, 0.2);
  }
  &.letter-tile-found {
    background: rgba(0, 255, 0, 0.2);
  }
  &.letter-tile-highlighted {
    background: rgba(255, 255, 0, 0.2);
  }
}
// @TODO!
.word-strike {
  height: 0;
  border: 1px solid #fff;
  position: absolute;
  width: calc(1.4142135623730951% * 100); // Sqrt(2) %age, for a square hypoteneus
  left: 50%;
  top: 50%;
  transform: rotate(-45deg) scaleX(5);
  transform-origin: 0 0;
  z-index: 100;
  box-shadow: 0 0 7px #fff;
}
#wordsearch_grid {
  min-width: calc(90vw - 50px);

  @media screen and (min-width: 100vh) {
    min-width: calc(90vh - 50px);
  }
  .col {
    padding: 0;

    &:not(:last-child) {
      border-right-width: 0 !important;
    }
  }
  .row {
    &:not(:last-child) {
      .col {
        border-bottom-width: 0 !important;
      }
    }
  }
}
.words {
  .badge {
    margin: 0 0.5em 0.5em 0;
  }
}