#github-logo {
  img {
    width: 20px;
    height: 20px;
    opacity: 66.66%;
  }
  &:hover {
    img {
      opacity: 100%;
    }
  }
}
.settings-icon {
  fill: $body-color;
}
.letter-tile {
  padding: 100% 0 0;
  cursor: pointer;
  svg {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0;
    width: 100%;
    fill: $body-color;
  }

  transition: background ease-in 0.1s;
  &:hover {
    background: rgba(255,255,255, 0.1);
  }
  &.letter-tile-found {
    background: rgba(0, 255, 0, 0.3);
  }
  &.letter-tile-highlighted {
    background: rgba(255, 255, 0, 0.2);
  }
}

.word-strike {
  height: 0;
  width: 100%;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  box-shadow: 0 0 7px #fff;
  transform-origin: 0 0;

  @for $i from 0 to 7 {
    &.word-strike-direction-#{$i} { transform: rotate((($i * 45deg) - 90deg)); }
  }
  @for $i from 0 to 20 {
    &:not(.word-strike-diagonal).word-strike-length-#{$i} { width: ($i - 1) * 100%; }
    &.word-strike-diagonal.word-strike-length-#{$i} { width: ($i - 1) * 100% * 1.414214; } // 1.414214 is a hypothenuse multiplier
  }
}
#wordsearch_grid {
  @extend .col-auto;
  @extend .mt-1;
  @extend .mb-4;
  @extend .px-4;
  @extend .pl-sm-5;
  @extend .pr-sm-3;
  @extend .px-md-0;
  @extend .mx-auto;
  min-width: calc(90vw - 50px);

  @media screen and (min-width: 100vh) {
    min-width: calc(90vh - 50px);
  }

  > div {
    @extend .d-flex;
    @extend .justify-content-center;
    > div {
      @extend .col;
      @extend .border;
      padding: 0;

      &:not(:last-child) {
        border-right-width: 0 !important;
      }
    }

    &:not(:last-child) {
      > div {
        border-bottom-width: 0 !important;
      }
    }
  }
}
.words {
  .badge {
    margin: 0 0.5em 0.5em 0;
  }
}